body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body > * a {
    text-decoration: none;
}

.header_container{
    background-color: #1f2937;
    height: 50px;
}

.header{
    display: flex;
    height: 50px;
    max-width: 1000px;
    min-width: 500px;
    justify-content: space-between;
    margin: auto;
}